doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		include navigation.pug
		title Home
	body
		h1 Welcome to The Avocado Net
		h2 Where people only post about Avocados
		p=message
			form.col.s12(action='/', method='POST', autocomplete='off' id='signin')
				label(for='username') Your Name
				br
				input#name.validate(type='text', name='username')
				br
				br
				label(for='password') Your Password
				br
				input#password.validate(type='text', name='password')
				br
				br
				input#seepreview.mybutton(type='submit', name='login', value="Login")
		p You don't have an account yet? Sign up here.
		a.mybutton.sml(href='/signup') Sign Up