doctype html
html
head
    #index-banner.section.no-pad-bot
      .container
        .row.center.mininav
          a.mybutton.sml(href='/profile') MY PROFILE
          br
          a.mybutton.sml(href='/addpost') ADD POST
          br
          a.mybutton.sml(href='/allpostings') ALL POSTINGS
          br
          a.mybutton.sml(href='/') LOGIN
          br