doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		include navigation.pug
		title Your profile
	body
		h4 Welcome to your profile #{username}
		h4 Check out all your posts below:
		h4 ----------
		each hit in alluserpostings
			p=hit.post
			p Created on #{hit.createdAt}