doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		include navigation.pug
		title Sign Up
	body
		h4 Great, you want to be part of our network. 
		h4 Good news: You are just one step away..
		form.col.s12(action='/signup', method='POST', autocomplete='off' id='form')
			label(for='name') Choose a username
			br
			input#name.validate(type='text', name='name')
			br
			br
			label(for='name') Choose a password
			br
			input#password.validate(type='text', name='password')
			br
			br
		form.col.s12(id='storypage', action='/signup', method='POST')
			input#seepreview.mybutton(type='submit', value="Create new account")