/*--FONTS--*/
@font-face {
     font-family: Track;
     src: url("../fonts/track/Track.otf");
}

#bootstrap-overrides h1{
	color: white;
	font-family: 'Track';
}

#bootstrap-overrides input{
	color: black;
}

#bootstrap-overrides label{
	font-family: 'Track';
}

/*@media only screen and (min-width: 768px){
	.intro-header .site-heading {
    padding: 150px 0;
    background-color: blue;
}*/




